*{
    margin: 0;
    padding: 0;
}
.box{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px 10px;
    width: 100%;
}
.item{
    height: 200px;
    width: 300px;
    background-color: red;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
    margin: 5px;
}
.animate{
    width: 90%;
    height: 100px;
    background-color: red;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: animate;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes animate {
    from{
        width: 90%;
    }
    to{
        width: 0%;
        background-color: yellow;
    }
    
}
